*.pyc
__pyache__/*
/venv/
/.idea/
/other/
/__pycache__/
*.egg-info
/scadnano.zip
.pypirc
tests/tests_outputs/cadnano_v2_export/*
tests/tests_outputs/cadnano_v2_export/test_16_helix_origami_rectangle_no_twist.dna
tests/tests_outputs/cadnano_v2_export/test_16_helix_origami_rectangle_no_twist.json
tests/tests_outputs/cadnano_v2_export/test_2_stape_2_helix_origami_deletions_insertions.dna
tests/tests_outputs/cadnano_v2_export/test_2_stape_2_helix_origami_deletions_insertions.json
tests/tests_outputs/cadnano_v2_export/test_2_stape_2_helix_origami_extremely_simple.dna
tests/tests_outputs/cadnano_v2_export/test_2_stape_2_helix_origami_extremely_simple.json
tests/tests_outputs/cadnano_v2_export/test_2_stape_2_helix_origami_extremely_simple_2.dna
tests/tests_outputs/cadnano_v2_export/test_2_stape_2_helix_origami_extremely_simple_2.json
tests/tests_outputs/cadnano_v2_export/test_6_helix_origami_rectangle.dna
tests/tests_outputs/cadnano_v2_export/test_6_helix_origami_rectangle.json
examples/run_all_examples.xls
__pycache__/
tests_outputs/
.vscode/
dist/
.mypy_cache/
