name: "Docs Check"
on: pull_request

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
          python-version: '3.x'
    - name: Install Sphinx
      run: |
        python -m pip install --upgrade pip
        pip install sphinx sphinx_rtd_theme
    - name: Move to docs folder
      run: |
        cd doc
        pwd
    - name: Build docs
      run: make html
